## Credit Remaining by Vintage with Toucan

In [1]:
import numpy as np
import pandas as pd
import sklearn.linear_model as lm
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import seaborn as sns

from IPython.display import Markdown

import scipy.stats

import warnings
warnings.filterwarnings("ignore")

In [2]:
df_credit_remaining_by_vintage = pd.read_csv('data/df_credits_remaining_by_vintage.csv')
df_credit_remaining_by_vintage.head(5)

,Project ID,Project Name,1996,1997,1998,1999,2000,2001,2002,2003,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ACR101,AFOVERT Energy,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ACR102,Air Bag Gas Substitution,0,0,0,0,0,0,0,1890716,...,0,0,0,0,0,0,0,0,0,0
2,ACR103,Inland Empire Anaerobic Ag Digester,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ACR104,Ankotrofotsy Community-based Reforestation and...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ACR105,Boa Vista A/R,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
combined_df = pd.DataFrame()

for project_id in df_credit_remaining_by_vintage['Project ID']:  # Assuming project_id_list is the list of project IDs
    id_df = df_credit_remaining_by_vintage[df_credit_remaining_by_vintage['Project ID'] == project_id]

    id_df = pd.melt(id_df, id_vars=['Project ID', 'Project Name'], var_name='Year', value_name='Value')
    id_df['Year'] = pd.to_numeric(id_df['Year'], errors='coerce')
    id_df_yearly_sums = id_df.groupby('Year')['Value'].sum()

    combined_df[project_id] = id_df_yearly_sums

combined_df = combined_df.reset_index()
combined_df.columns = ['Year'] + combined_df.columns.tolist()[1:]
combined_df

,Year,ACR101,ACR102,ACR103,ACR104,ACR105,ACR106,ACR107,ACR108,ACR109,...,VCS992,VCS993,VCS994,VCS995,VCS996,VCS997,VCS998,VCS999,VCSOPR10,VCSOPR2
0,1996,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1997,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1998,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,2003,0,1890716,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2004,0,3004613,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2005,0,3071011,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2006,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2007,0,0,0,0,0,29040,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2008,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,683951,0,0,0,0
13,2009,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,701845,0,0,0,0
14,2010,0,0,0,0,0,0,0,0,59264,...,0,0,0,0,0,0,0,0,0,0
15,2011,0,0,0,0,0,0,0,0,105596,...,0,0,0,0,0,0,0,0,0,0
16,2012,0,0,0,0,0,0,0,0,92762,...,0,0,0,0,0,0,3879,0,0,0
17,2013,0,0,0,0,0,0,0,0,84182,...,0,0,0,0,0,0,0,0,0,0
18,2014,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2015,0,0,0,0,0,0,0,0,0,...,0,0,0,0,8304,0,0,0,0,0
20,2016,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,2017,0,0,0,0,0,0,0,0,0,...,0,5233,27209,9650,0,0,0,0,0,0
22,2018,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,2019,0,0,0,0,0,0,0,0,0,...,0,19480,0,10749,0,0,0,0,0,0
24,2020,0,0,0,0,0,0,0,0,0,...,0,0,0,0,32345,0,0,0,0,0
25,2021,0,0,0,0,0,0,0,0,0,...,0,0,81182,0,0,0,0,0,0,0
26,2022,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
credits_remaining_reshaped_df = combined_df.melt(id_vars=['Year'], var_name='Project ID', value_name='credits_remaining Value')
credits_remaining_reshaped_df

        Year Project ID  credits_remaining Value
0       1996     ACR101                        0
1       1997     ACR101                        0
2       1998     ACR101                        0
3       1999     ACR101                        0
4       2000     ACR101                        0
...      ...        ...                      ...
214186  2018    VCSOPR2                        0
214187  2019    VCSOPR2                        0
214188  2020    VCSOPR2                        0
214189  2021    VCSOPR2                        0
214190  2022    VCSOPR2                        0

[214191 rows x 3 columns]

In [5]:
df_credits_issued_by_issuance_year = pd.read_csv('data/df_credits_issued_by_issuance_year.csv')
df_credits_issued_by_issuance_year.head(5)

,Project ID,Project Name,1996,1997,1998,1999,2000,2001,2002,2003,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ACR101,AFOVERT Energy,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ACR102,Air Bag Gas Substitution,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ACR103,Inland Empire Anaerobic Ag Digester,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ACR104,Ankotrofotsy Community-based Reforestation and...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ACR105,Boa Vista A/R,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
combined_df = pd.DataFrame()

for project_id in df_credits_issued_by_issuance_year['Project ID']:  # Assuming project_id_list is the list of project IDs
    id_df = df_credits_issued_by_issuance_year[df_credits_issued_by_issuance_year['Project ID'] == project_id]

    id_df = pd.melt(id_df, id_vars=['Project ID', 'Project Name'], var_name='Year', value_name='Value')
    id_df['Year'] = pd.to_numeric(id_df['Year'], errors='coerce')
    id_df_yearly_sums = id_df.groupby('Year')['Value'].sum()

    combined_df[project_id] = id_df_yearly_sums

combined_df = combined_df.reset_index()
combined_df.columns = ['Year'] + combined_df.columns.tolist()[1:]
combined_df

,Year,ACR101,ACR102,ACR103,ACR104,ACR105,ACR106,ACR107,ACR108,ACR109,...,VCS992,VCS993,VCS994,VCS995,VCS996,VCS997,VCS998,VCS999,VCSOPR10,VCSOPR2
0,1996,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1997,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1998,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,2003,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2004,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2005,0,1898000,13848,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2006,0,6086006,4481,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2007,0,0,0,0,0,138492,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2008,0,0,11630,0,0,0,1138,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2009,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,2010,0,0,14243,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,2011,0,0,0,0,0,0,0,0,231023,...,0,0,0,0,0,0,0,0,0,0
16,2012,0,0,0,0,2572210,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,2013,0,0,0,0,0,0,0,0,0,...,9643,50696,15265,28579,64921,0,32897,0,0,0
18,2014,0,0,0,0,0,0,0,0,310781,...,0,0,0,0,0,0,0,0,0,0
19,2015,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,2016,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,2017,0,0,0,0,0,0,0,0,0,...,0,0,0,96491,115398,0,0,0,0,298891
22,2018,0,0,0,0,0,0,0,0,0,...,0,464116,93207,0,0,0,0,0,0,0
23,2019,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,2020,0,0,0,0,0,0,0,0,0,...,0,111073,0,0,0,0,0,0,78497,0
25,2021,0,0,0,0,0,0,0,0,0,...,0,0,98536,43372,119453,0,0,0,0,0
26,2022,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1403754,0,0,0,0

In [7]:
credits_issued_by_issuance_reshaped_df = combined_df.melt(id_vars=['Year'], var_name='Project ID', value_name='credits_issued_by_issuance Value')
credits_issued_by_issuance_reshaped_df

        Year Project ID  credits_issued_by_issuance Value
0       1996     ACR101                                 0
1       1997     ACR101                                 0
2       1998     ACR101                                 0
3       1999     ACR101                                 0
4       2000     ACR101                                 0
...      ...        ...                               ...
214186  2018    VCSOPR2                                 0
214187  2019    VCSOPR2                                 0
214188  2020    VCSOPR2                                 0
214189  2021    VCSOPR2                                 0
214190  2022    VCSOPR2                                 0

[214191 rows x 3 columns]

In [8]:
df_credits_issued_by_vintage_year = pd.read_csv('data/df_credits_issued_by_vintage_year.csv')
df_credits_issued_by_vintage_year.head(5)

,Project ID,Project Name,Type,1996,1997,1998,1999,2000,2001,2002,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ACR101,AFOVERT Energy,Bundled Energy Efficiency,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ACR102,Air Bag Gas Substitution,SF6 Replacement,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ACR103,Inland Empire Anaerobic Ag Digester,Manure Methane Digester,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ACR104,Ankotrofotsy Community-based Reforestation and...,Afforestation/Reforestation,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ACR105,Boa Vista A/R,Afforestation/Reforestation,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
combined_df = pd.DataFrame()

for project_id in df_credits_issued_by_vintage_year['Project ID']:  # Assuming project_id_list is the list of project IDs
    id_df = df_credits_issued_by_vintage_year[df_credits_issued_by_vintage_year['Project ID'] == project_id]

    id_df = pd.melt(id_df, id_vars=['Project ID', 'Project Name'], var_name='Year', value_name='Value')
    id_df['Year'] = pd.to_numeric(id_df['Year'], errors='coerce')
    id_df_yearly_sums = id_df.groupby('Year')['Value'].sum()

    combined_df[project_id] = id_df_yearly_sums

combined_df = combined_df.reset_index()
combined_df.columns = ['Year'] + combined_df.columns.tolist()[1:]
combined_df

,Year,ACR101,ACR102,ACR103,ACR104,ACR105,ACR106,ACR107,ACR108,ACR109,...,VCS992,VCS993,VCS994,VCS995,VCS996,VCS997,VCS998,VCS999,VCSOPR10,VCSOPR2
0,1996.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1997.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1998.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1999.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2000.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2001.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2002.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,2003.0,0,1898382,8072,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2004.0,0,3004613,5848,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2005.0,0,3081011,4409,0,0,0,316,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2006.0,0,0,3632,0,0,95330,352,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2007.0,0,0,7998,0,0,43162,342,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2008.0,0,0,13210,0,0,0,128,0,39727,...,0,0,0,0,0,701909,0,0,0,0
13,2009.0,0,0,1033,0,0,0,0,0,109153,...,0,0,0,0,0,701845,0,0,0,0
14,2010.0,0,0,0,0,0,0,0,0,110384,...,0,0,0,0,0,0,0,0,0,0
15,2011.0,0,0,0,0,2572210,0,0,0,105596,...,9643,0,0,0,0,0,0,0,0,0
16,2012.0,0,0,0,0,0,0,0,0,92762,...,0,50696,15265,28579,64921,0,32897,0,0,0
17,2013.0,0,0,0,0,0,0,0,0,84182,...,0,0,0,0,0,0,0,0,0,0
18,2014.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2015.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,115398,0,0,0,0,0
20,2016.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,298891
21,2017.0,0,0,0,0,0,0,0,0,0,...,0,464116,93207,96491,0,0,0,0,78497,0
22,2018.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,2019.0,0,0,0,0,0,0,0,0,0,...,0,111073,0,43372,0,0,0,0,0,0
24,2020.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,119453,0,0,0,0,0
25,2021.0,0,0,0,0,0,0,0,0,0,...,0,0,98536,0,0,0,0,0,0,0
26,2022.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
credits_issued_by_vintage_reshaped_df = combined_df.melt(id_vars=['Year'], var_name='Project ID', value_name='credits_issued_by_vintage Value')
credits_issued_by_vintage_reshaped_df

          Year Project ID credits_issued_by_vintage Value
0       1996.0     ACR101                               0
1       1997.0     ACR101                               0
2       1998.0     ACR101                               0
3       1999.0     ACR101                               0
4       2000.0     ACR101                               0
...        ...        ...                             ...
214186  2018.0    VCSOPR2                               0
214187  2019.0    VCSOPR2                               0
214188  2020.0    VCSOPR2                               0
214189  2021.0    VCSOPR2                               0
214190  2022.0    VCSOPR2                               0

[214191 rows x 3 columns]

In [11]:
df_credits_retired = pd.read_csv('data/df_credits_retired.csv')
df_credits_retired.head(5)

,Project ID,Project Name,1996,1997,1998,1999,2000,2001,2002,2003,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ACR101,AFOVERT Energy,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ACR102,Air Bag Gas Substitution,0,0,0,0,0,0,0,0,...,400,10025,275,0,0,0,0,0,0,0
2,ACR103,Inland Empire Anaerobic Ag Digester,0,0,0,0,0,0,0,0,...,3917,0,0,0,32,0,0,0,0,0
3,ACR104,Ankotrofotsy Community-based Reforestation and...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ACR105,Boa Vista A/R,0,0,0,0,0,0,0,0,...,10,645,0,0,2571555,0,0,0,0,0

In [12]:
combined_df = pd.DataFrame()

for project_id in df_credits_retired['Project ID']:  # Assuming project_id_list is the list of project IDs
    id_df = df_credits_retired[df_credits_retired['Project ID'] == project_id]

    id_df = pd.melt(id_df, id_vars=['Project ID', 'Project Name'], var_name='Year', value_name='Value')
    id_df['Year'] = pd.to_numeric(id_df['Year'], errors='coerce')
    id_df_yearly_sums = id_df.groupby('Year')['Value'].sum()

    combined_df[project_id] = id_df_yearly_sums

combined_df = combined_df.reset_index()
combined_df.columns = ['Year'] + combined_df.columns.tolist()[1:]
combined_df

,Year,ACR101,ACR102,ACR103,ACR104,ACR105,ACR106,ACR107,ACR108,ACR109,...,VCS992,VCS993,VCS994,VCS995,VCS996,VCS997,VCS998,VCS999,VCSOPR10,VCSOPR2
0,1996,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1997,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1998,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,2003,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2004,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2005,0,0,66,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2006,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2007,0,0,134,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2008,0,0,0,0,0,0,127,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2009,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,2010,0,0,13850,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,2011,0,5000,10490,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,2012,0,1966,147,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,2013,0,400,3917,0,10,0,0,0,0,...,9000,14,0,0,0,0,27018,0,0,0
18,2014,0,10025,0,0,645,0,0,0,0,...,643,19070,0,0,62820,0,2000,0,0,0
19,2015,0,275,0,0,0,0,0,0,0,...,0,28049,3592,0,2101,0,0,0,0,0
20,2016,0,0,0,0,0,0,0,0,1118,...,0,3563,5193,28579,0,0,0,0,0,0
21,2017,0,0,32,0,2571555,0,0,0,118311,...,0,0,6373,0,0,0,0,0,78497,298891
22,2018,0,0,0,0,0,54000,0,0,80571,...,0,0,74,67231,89000,0,0,0,0,0
23,2019,0,0,0,0,0,41330,0,0,0,...,0,103745,6000,19610,11903,0,0,0,0,0
24,2020,0,0,0,0,0,0,0,0,0,...,0,208861,25083,0,4337,0,0,0,0,0
25,2021,0,0,0,0,0,0,0,0,0,...,0,219286,43129,23605,5462,0,0,0,0,0
26,2022,0,0,0,0,0,14122,0,0,0,...,0,15842,8469,5618,82000,0,0,0,0,0

In [13]:
credits_retired_reshaped_df = combined_df.melt(id_vars=['Year'], var_name='Project ID', value_name='credits_retired Value')
credits_retired_reshaped_df

        Year Project ID  credits_retired Value
0       1996     ACR101                      0
1       1997     ACR101                      0
2       1998     ACR101                      0
3       1999     ACR101                      0
4       2000     ACR101                      0
...      ...        ...                    ...
214186  2018    VCSOPR2                      0
214187  2019    VCSOPR2                      0
214188  2020    VCSOPR2                      0
214189  2021    VCSOPR2                      0
214190  2022    VCSOPR2                      0

[214191 rows x 3 columns]

In [14]:
merged_df = pd.merge(credits_remaining_reshaped_df, credits_issued_by_issuance_reshaped_df, on=['Year', 'Project ID'])
merged_df = pd.merge(merged_df, credits_issued_by_vintage_reshaped_df, on=['Year', 'Project ID'])
merged_df = pd.merge(merged_df, credits_retired_reshaped_df, on=['Year', 'Project ID'])
merged_df

,Year,Project ID,credits_remaining Value,credits_issued_by_issuance Value,credits_issued_by_vintage Value,credits_retired Value
0,1996,ACR101,0,0,0,0
1,1997,ACR101,0,0,0,0
2,1998,ACR101,0,0,0,0
3,1999,ACR101,0,0,0,0
4,2000,ACR101,0,0,0,0
...,...,...,...,...,...,...
214186,2018,VCSOPR2,0,0,0,0
214187,2019,VCSOPR2,0,0,0,0
214188,2020,VCSOPR2,0,0,0,0
214189,2021,VCSOPR2,0,0,0,0
214190,2022,VCSOPR2,0,0,0,0

In [15]:
toucan_pivoted_credits_remaining = pd.read_csv('data/toucan_pivoted_credits_remaining.csv')
toucan_pivoted_credits_remaining

        Year Project ID  Credits Remaining
0     1996.0      VCS10                  0
1     1997.0      VCS10                  0
2     1998.0      VCS10                  0
3     1999.0      VCS10                  0
4     2000.0      VCS10                  0
...      ...        ...                ...
2803  2018.0     VCS986              29746
2804  2019.0     VCS986              48260
2805  2020.0     VCS986              42055
2806  2021.0     VCS986               3245
2807  2022.0     VCS986                  0

[2808 rows x 3 columns]

In [16]:
merged_df["isToucan"] = merged_df['Project ID'].isin(toucan_pivoted_credits_remaining['Project ID'])
merged_df

,Year,Project ID,credits_remaining Value,credits_issued_by_issuance Value,credits_issued_by_vintage Value,credits_retired Value,isToucan
0,1996,ACR101,0,0,0,0,False
1,1997,ACR101,0,0,0,0,False
2,1998,ACR101,0,0,0,0,False
3,1999,ACR101,0,0,0,0,False
4,2000,ACR101,0,0,0,0,False
...,...,...,...,...,...,...,...
214186,2018,VCSOPR2,0,0,0,0,False
214187,2019,VCSOPR2,0,0,0,0,False
214188,2020,VCSOPR2,0,0,0,0,False
214189,2021,VCSOPR2,0,0,0,0,False
214190,2022,VCSOPR2,0,0,0,0,False

In [17]:
sum(merged_df["isToucan"])

2808

In [18]:
merged_df.to_csv("data/all_toucan.csv")