## Uploading, Cleaning, and Downloading Data

In [18]:
import numpy as np
import pandas as pd
import sklearn.linear_model as lm
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Markdown

import scipy.stats

import warnings
warnings.filterwarnings("ignore")

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in /srv/conda/envs/notebook/lib/python3.11/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /srv/conda/envs/notebook/lib/python3.11/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
data = pd.read_excel('data/Voluntary-Registry-Offsets-Database--v8-May-2023-Honors_Thesis.xlsx', sheet_name='PROJECTS', skiprows=3)
data.head(5)

,Project ID,Project Name,Voluntary Registry,ARB \nProject,Voluntary Status,Scope,Type,Reduction / Removal,Methodology / Protocol,Region,...,2022.3,2023.3,Notes from Registry,Notes from Berkeley Carbon Trading Project,Added to Database Version,* rows have equations,Unnamed: 153,"1st issuance yr (no hard code, hide)",Unnamed: 155,Unnamed: 156
0,ACR101,AFOVERT Energy,ACR,No,Canceled,Household & Community,Bundled Energy Efficiency,Reduction,AMS-I.E. Switch from Non-Renewable Biomass for...,Sub Saharan Africa,...,0,0,NaN,NaN,v1 4-2021,*,NaN,0,NaN,1
1,ACR102,Air Bag Gas Substitution,ACR,No,Completed,Chemical Processes,SF6 Replacement,Reduction,Emission reductions through industrial gas sub...,North America,...,0,0,NaN,NaN,v1 4-2021,NaN,NaN,2003,NaN,1
2,ACR103,Inland Empire Anaerobic Ag Digester,ACR,No,Completed,Agriculture,Manure Methane Digester,Reduction,Anaerobic Digestion,North America,...,0,0,NaN,NaN,v1 4-2021,NaN,NaN,2003,NaN,1
3,ACR104,Ankotrofotsy Community-based Reforestation and...,ACR,No,Inactive,Forestry & Land Use,Afforestation/Reforestation,Impermanent Removal,AR-ACM0001,Sub Saharan Africa,...,0,0,NaN,NaN,v1 4-2021,NaN,NaN,0,NaN,1
4,ACR105,Boa Vista A/R,ACR,No,Canceled,Forestry & Land Use,Afforestation/Reforestation,Impermanent Removal,AR-ACM0001,South America,...,0,0,NaN,NaN,v1 4-2021,NaN,NaN,2011,NaN,1

In [4]:
data.columns

Index([                                'Project ID',
                                     'Project Name',
                               'Voluntary Registry',
                                    'ARB \nProject',
                                 'Voluntary Status',
                                            'Scope',
                                            ' Type',
                              'Reduction / Removal',
                           'Methodology / Protocol',
                                           'Region',
       ...
                                           '2022.3',
                                           '2023.3',
                              'Notes from Registry',
       'Notes from Berkeley Carbon Trading Project',
                        'Added to Database Version',
                            '* rows have equations',
                                     'Unnamed: 153',
             '1st issuance yr (no hard code, hide)',
                                     'Unnamed: 155',
                                     'Unnamed: 156'],
      dtype='object', length=157)

In [5]:
df_main = data.loc[:, 'Project ID':'First Year of Project']
df_main.head(5)

,Project ID,Project Name,Voluntary Registry,ARB \nProject,Voluntary Status,Scope,Type,Reduction / Removal,Methodology / Protocol,Region,...,State,Project Site Location,Project Developer,Total Credits \nIssued,Total Credits \nRetired,Total Credits Remaining,Total Buffer \nPool Deposits,Reversals Covered by Buffer Pool,Reversals Not Covered by Buffer,First Year of Project
0,ACR101,AFOVERT Energy,ACR,No,Canceled,Household & Community,Bundled Energy Efficiency,Reduction,AMS-I.E. Switch from Non-Renewable Biomass for...,Sub Saharan Africa,...,Niono District,Niono,Katene Kadji,0,0,0,0,NaN,NaN,NaN
1,ACR102,Air Bag Gas Substitution,ACR,No,Completed,Chemical Processes,SF6 Replacement,Reduction,Emission reductions through industrial gas sub...,North America,...,OREGON,Beaverton,Nike,7984006,17666,7966340,0,NaN,NaN,2003.0
2,ACR103,Inland Empire Anaerobic Ag Digester,ACR,No,Completed,Agriculture,Manure Methane Digester,Reduction,Anaerobic Digestion,North America,...,CALIFORNIA,Chino,Inland Empire Utilities Agency,44202,44202,0,0,NaN,NaN,2003.0
3,ACR104,Ankotrofotsy Community-based Reforestation and...,ACR,No,Inactive,Forestry & Land Use,Afforestation/Reforestation,Impermanent Removal,AR-ACM0001,Sub Saharan Africa,...,Miandrivazo,Ankotrofotsy,Tany Meva Foundation,0,0,0,0,NaN,NaN,NaN
4,ACR105,Boa Vista A/R,ACR,No,Canceled,Forestry & Land Use,Afforestation/Reforestation,Impermanent Removal,AR-ACM0001,South America,...,Roraima,Boa Vista,F.I.T Timber Ltd,2572210,2572210,0,0,NaN,NaN,2011.0

In [6]:
main_rows = data.loc[:, ['Project ID', 'Project Name', ' Type']]

credits_issued_by_vintage_year = data.loc[:, 1996:2022]

df_credits_issued_by_vintage_year = pd.merge(main_rows, credits_issued_by_vintage_year, left_index=True, right_index=True)
df_credits_issued_by_vintage_year

,Project ID,Project Name,Type,1996,1997,1998,1999,2000,2001,2002,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ACR101,AFOVERT Energy,Bundled Energy Efficiency,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ACR102,Air Bag Gas Substitution,SF6 Replacement,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ACR103,Inland Empire Anaerobic Ag Digester,Manure Methane Digester,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ACR104,Ankotrofotsy Community-based Reforestation and...,Afforestation/Reforestation,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ACR105,Boa Vista A/R,Afforestation/Reforestation,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7928,VCS997,Xinjiang Kaiduhe River Chahan Wusu Hydropower ...,Hydropower,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7929,VCS998,01 million Compact Fluorescent Lamps (EVN-2010...,Lighting,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7930,VCS999,Protection of the Amazon Rain Forest II,REDD+,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7931,VCSOPR10,Blue Source – Alford Improved Forest Managemen...,Improved Forest Management,0,0,0,0,0,0,0,...,0,0,0,0,78497,0,0,0,0,0
7932,VCSOPR2,Corinth Abandoned Mine Methane Recovery Project,Mine Methane Capture,0,0,0,0,0,0,0,...,0,0,0,298891,0,0,0,0,0,0

In [12]:
main_rows = data.loc[:, 'Project ID':'Project Name']

credits_retired = data.loc[:, '1996.1':'2022.1']

df_credits_retired = pd.merge(main_rows, credits_retired, left_index=True, right_index=True)

new_columns = [col.replace('.1', '') for col in df_credits_retired.columns]
df_credits_retired.columns = new_columns

df_credits_retired.head(5)

,Project ID,Project Name,1996,1997,1998,1999,2000,2001,2002,2003,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ACR101,AFOVERT Energy,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ACR102,Air Bag Gas Substitution,0,0,0,0,0,0,0,0,...,400,10025,275,0,0,0,0,0,0,0
2,ACR103,Inland Empire Anaerobic Ag Digester,0,0,0,0,0,0,0,0,...,3917,0,0,0,32,0,0,0,0,0
3,ACR104,Ankotrofotsy Community-based Reforestation and...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ACR105,Boa Vista A/R,0,0,0,0,0,0,0,0,...,10,645,0,0,2571555,0,0,0,0,0

In [13]:
main_rows = data.loc[:, 'Project ID':'Project Name']

credits_remaining_by_vintage = data.loc[:, '1996.2':'2022.2']

df_credits_remaining_by_vintage = pd.merge(main_rows, credits_remaining_by_vintage, left_index=True, right_index=True)

new_columns = [col.replace('.2', '') for col in df_credits_remaining_by_vintage.columns]
df_credits_remaining_by_vintage.columns = new_columns

df_credits_remaining_by_vintage.head(5)

,Project ID,Project Name,1996,1997,1998,1999,2000,2001,2002,2003,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ACR101,AFOVERT Energy,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ACR102,Air Bag Gas Substitution,0,0,0,0,0,0,0,1890716,...,0,0,0,0,0,0,0,0,0,0
2,ACR103,Inland Empire Anaerobic Ag Digester,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ACR104,Ankotrofotsy Community-based Reforestation and...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ACR105,Boa Vista A/R,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
main_rows = data.loc[:, 'Project ID':'Project Name']

credits_issued_by_issuance_year = data.loc[:, '1996.3':'2022.3']

df_credits_issued_by_issuance_year = pd.merge(main_rows, credits_issued_by_issuance_year, left_index=True, right_index=True)
df_credits_issued_by_issuance_year.head(5)

,Project ID,Project Name,1996.3,1997.3,1998.3,1999.3,2000.3,2001.3,2002.3,2003.3,...,2013.3,2014.3,2015.3,2016.3,2017.3,2018.3,2019.3,2020.3,2021.3,2022.3
0,ACR101,AFOVERT Energy,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ACR102,Air Bag Gas Substitution,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ACR103,Inland Empire Anaerobic Ag Digester,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ACR104,Ankotrofotsy Community-based Reforestation and...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ACR105,Boa Vista A/R,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
main_rows = data.loc[:, 'Project ID':'Project Name']

other = data.loc[:, 'Project Owner ':'Project Website']

df_other = pd.merge(main_rows, other, left_index=True, right_index=True)

new_columns = [col.replace('.3', '') for col in df_credits_issued_by_issuance_year.columns]
df_credits_issued_by_issuance_year.columns = new_columns

df_other.head(5)

,Project ID,Project Name,Project Owner,Offset Project Operator,Authorized Project Designee,Verifier,Estimated Annual Emission Reductions,PERs,Registry / ARB,ARB Project Detail,ARB ID,Project Listed,Project Registered,CCB / Certifications,Project Type,Registry \nDocuments,Project Website
0,ACR101,AFOVERT Energy,0,NaN,NaN,NaN,NaN,0.0,ACR,Not ARB Eligible,NaN,NaT,NaT,06: Clean Water and Sanitation;07: Affordable ...,Fuel Switching,https://acr2.apx.com/myModule/rpt/myrpt.asp?r=111,NaN
1,ACR102,Air Bag Gas Substitution,NaN,NaN,NaN,ERT,NaN,0.0,ACR,Not ARB Eligible,NaN,NaT,NaT,NaN,Industrial Gas Substitution,https://acr2.apx.com/myModule/rpt/myrpt.asp?r=111,NaN
2,ACR103,Inland Empire Anaerobic Ag Digester,NaN,NaN,NaN,Ruby Canyon Environment,NaN,0.0,ACR,Not ARB Eligible,NaN,NaT,NaT,NaN,Livestock Waste Management,https://acr2.apx.com/myModule/rpt/myrpt.asp?r=111,NaN
3,ACR104,Ankotrofotsy Community-based Reforestation and...,NaN,NaN,NaN,NaN,NaN,0.0,ACR,Not ARB Eligible,NaN,NaT,NaT,06: Clean Water and Sanitation;13: Climate Act...,Forest Carbon,https://acr2.apx.com/myModule/rpt/myrpt.asp?r=111,NaN
4,ACR105,Boa Vista A/R,NaN,NaN,NaN,SCS Global Services (Scientific Certification ...,NaN,0.0,ACR,Not ARB Eligible,NaN,NaT,NaT,06: Clean Water and Sanitation;13: Climate Act...,Forest Carbon,https://acr2.apx.com/myModule/rpt/myrpt.asp?r=111,NaN

In [17]:
data.to_csv('data/data', index=False)
df_main.to_csv('data/df_main', index=False)
df_credits_issued_by_vintage_year.to_csv('data/df_credits_issued_by_vintage_year', index=False)
df_credits_retired.to_csv('data/df_credits_retired', index=False)
df_credits_remaining_by_vintage.to_csv('data/df_credits_remaining_by_vintage', index=False)
df_credits_issued_by_issuance_year.to_csv('data/df_credits_issued_by_issuance_year', index=False)
df_other.to_csv('data/df_other', index=False)